body{
    margin: 0px;
    background-color: aliceblue;
    font-family:'Courier New', Courier, monospace;
}

button{
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 25px;
}


.page-nav{
    background-color: #2196f3; 
    border: 1px solid black;
    position: relative;
}

.page-nav h1{
    margin: 20px;
}

.button-checkout{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-add:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

.page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.product-container{

    border-radius: 20px;
    margin: 10px;
    position: relative;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.product-container img{
    width: 300px;
}

.product-container h1{
    margin-bottom: 10px;
    margin-left: 15px;
}

.product-container h3{
    text-align: center;
}

.button-add {
    
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
  }
  
  